.App {
  /* text-align: center; */
}

.App-header {
  background-color: #222;
  color: white;
  font-size: 1.25rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.button__container {
  margin-top: 200px;
  text-align: center;
}

.button {
  background-color:green;
  border: none;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 200px;
}

body {
  background: #f1f1f1;
}

div#stocks-container {
  background:white;
  width: 70%;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px 0 lightgrey;
}

span.left {
  font-weight: bold;
}

span.right {
  float:right;
}